html,
body {
  font-size: 16px;
  columns: #222b3f;
}
/*  navbar*/

.navbar.navbar-transparent {
  background-color: transparent !important;
  box-shadow: none;
  color: #fff;
  padding-top: 20px !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
#navbarNav {
  justify-content: flex-end;
}

#marginb {
  margin-bottom: 20px !important;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  min-height: 53px;
}

a {
  color: #222b3f;
  text-decoration: none;
  background-color: transparent;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.button-dropdown {
  padding-right: 0.7rem;
  cursor: pointer;
}

.navbar.navbar-transparent {
  background-color: transparent !important;
  color: #fff;
}

.dropdown {
  position: relative;
}

.navbar > .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.gameT {
  color: #fff;
}
#titleG {
  font-family: "Chakra Petch", sans-serif;
  font-size: 50px;
  font-weight: 700;
  padding-top: 30px;
}
/*  container */

.page-header.page-header-small {
  min-height: 60vh;
  max-height: 440px;
}

.page-header {
  padding: 0;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.page-header .page-header-image {
  position: absolute;
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.page-header-image {
  background-image: url("./pictures/MathApics/kidsbackgroundspace.png");
  transform: translate3d(0px, 0px, 0px);
}

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding: 0 15px;
  width: 100%;
  max-width: 880px;
}

.text-center {
  text-align: center !important;
}

.page-header .container {
  height: 100%;
  z-index: 1;
  text-align: center;
  position: relative;
}

.section {
  padding: 70px 0;
  position: relative;
  background: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.col-md-8 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
h2 {
  margin-bottom: 30px;
  line-height: 1.2;
}

#backgroundSection {
  background-image: url("./pictures/MathApics/spaceship/background3591568.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 900px;
}

/* Game */

.congratulations {
  display: none;
  position: absolute;
  background: #c7a526;
  color: white;
  padding: 20px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  animation: pop-in 1s;
}

.game-over {
  display: none;
  position: absolute;
  background: #6b1818;
  color: white;
  padding: 20px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  animation: pop-in 1s;
}

@keyframes scroll-background {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 256px;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translate(0, -100px);
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* media Queries */

@media (min-width: 768px) {
  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 991px) {
  .button-dropdown {
    display: none;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .sidebar-collapse .wrapper {
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
}
